/* Variable Definitions */
:root {
    --highlightLight: white;
    --highlightDark: #808080;
    --highlightDarker: #404040;

}

/* Rule for "outward" highlighting */

.tab-strip,
#browser .tab-position .tab.active,
.toolbar-mainbar,
#webview-container,
#panels-container,
#browser,
.toolbar-tabbar.sync-and-trash-container,
.tab-position:hover,
.button-toolbar:hover,
#switch .addwebpanel-wrapper > button:hover:not(.active), #switch > button:hover:not(.active), #switch .addwebpanel-wrapper > button:focus:not(.active), #switch > button:focus:not(.active), #switch .addwebpanel-wrapper > button:active:not(.active), #switch > button:active:not(.active) {
    border-top: 1px solid var(--highlightLight);
    border-right: 1px solid var(--highlightDark);
    border-bottom: 1px solid var(--highlightDark);
    border-left: 1px solid var(--highlightLight);
}

/* Rule for "Inward" highlighting */

.toolbar-statusbar,
.addressfield,
.searchfield,
.vivaldi-tree,
.panel#downloads .download-editor {
    border-top: 1px solid var(--highlightDark);
    border-right: 1px solid var(--highlightLight);
    border-bottom: 1px solid var(--highlightLight);
    border-left: 1px solid var(--highlightDark);
}

/* Rule for strong "Outward" Highlighting */

.tabs-right#browser.win.win10 .tabs-bottom#browser.win.win10 .tabs-left#browser.win.win10, #browser.win.win10 #header #titlebar .window-buttongroup button {
    border-top: 1px solid var(--highlightLight);
    border-right: 1px solid var(--highlightDarker);
    border-bottom: 1px solid var(--highlightDarker);
    border-left: 1px solid var(--highlightLight);
}

/* Rule for strong "Inward" highlighting */

#webpage-stack,
.addressfield,
.searchfield {
    border-top: 1px solid var(--highlightDarker);
    border-right: 1px solid var(--highlightLight);
    border-bottom: 1px solid var(--highlightLight);
    border-left: 1px solid var(--highlightDarker);
}

/* To keep hover elements from "moving" */

.tab-position,
.button-toolbar,
#switch .addwebpanel-wrapper > button:not(.active), #switch > button:not(.active), #switch .addwebpanel-wrapper > button:focus:not(.active), #switch > button:focus:not(.active), #switch .addwebpanel-wrapper > button:active:not(.active), #switch > button:active:not(.active) {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

/* hiding stuff */

#panels button.fullwidth.alternate,
#titlebar > div.window-buttongroup > button.window-minimize > svg,
#titlebar > div.window-buttongroup > button.window-maximize > svg,
#titlebar > div.window-buttongroup > button.window-close > svg,
#titlebar > button > span,
#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.addressfield > div.toolbar.toolbar-small.toolbar-insideinput > div:nth-child(5) > button > svg {
    display: none;
}

#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large,
.addressfield,
.searchfield {
    outline-color: #808080;
    outline-style: solid;
    outline-width: 1px;
}

#header {
    background-image: linear-gradient(90deg, #0A246A, #A6CAF0);
    min-height: unset;
    height: 18px;
}

.win.normal .toolbar-mainbar {
    height: 26px;
    margin-top: 1px;
}

.addressfield {
    height: 19px;
    margin-top: 1px !important;
    margin-left: 1px !important;
    margin-bottom: 1px !important;
    margin-right: 3px !important;
}

.searchfield {
    height: 22px;
    margin-top: 1px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

.SiteInfoButton {
    height: 20px;
}

#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.addressfield > div.toolbar.toolbar-small.toolbar-insideinput > div:nth-child(5) {
    background-image: url("downarrow.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 18px;
    margin-top: 2px !important;
}

#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.addressfield > div.toolbar.toolbar-small.toolbar-insideinput > div:nth-child(5),
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button, .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar button {
    border: none !important;
}

#titlebar > div.window-buttongroup > button.window-minimize,
#titlebar > div.window-buttongroup > button.window-maximize,
#titlebar > div.window-buttongroup > button.window-close {
    height: 14px !important;
    width:  16px !important;
    margin-top: 2px !important;
    background-repeat: no-repeat !important;
    border: none !important;
}

#titlebar > div.window-buttongroup > button.window-minimize {
    background-image: url("minimize.png") !important;
    margin-right: 0px !important;
}

#titlebar > div.window-buttongroup > button.window-maximize {
    background-image: url("maximize.png") !important;
    margin-right: 2px !important;
    margin-left: 0px !important;
}

#titlebar > div.window-buttongroup > button.window-close {
    background-image: url("close.png") !important;
    margin-right: 2px !important;
}

#browser:not(.tabs-top) .vivaldi {
    background-image: url("menu.png") !important;
    height: 14px !important;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px;
}

#browser {
    padding: 2px !important;
    margin: 1px;
}

.tab-position:hover,
.tab-position,
.tab-position .tab {
    background-color: var(--colorbg);
}

.color-behind-tabs-off .toolbar-mainbar > .button-toolbar > button:hover, .color-behind-tabs-off .toolbar-mainbar > .toolbar-group > .button-toolbar > button:hover, .color-behind-tabs-off .toolbar-mainbar > .button-toolbar > button:active, .color-behind-tabs-off .toolbar-mainbar > .toolbar-group > .button-toolbar > button:active {
    background-color: transparent;
}

#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.toolbar.toolbar-mainbar.toolbar-extensions.toolbar-large,
#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.toolbar.toolbar-droptarget.toolbar-mainbar.toolbar-noflex.toolbar-large {
    border: none;
}

.button-toolbar:hover,
#switch .addwebpanel-wrapper > button:hover:not(.active), #switch > button:hover:not(.active), #switch .addwebpanel-wrapper > button:focus:not(.active), #switch > button:focus:not(.active), #switch .addwebpanel-wrapper > button:active:not(.active), #switch > button:active:not(.active),
.button-toolbar,
#switch .addwebpanel-wrapper > button:not(.active), #switch > button:not(.active), #switch .addwebpanel-wrapper > button:focus:not(.active), #switch > button:focus:not(.active), #switch .addwebpanel-wrapper > button:active:not(.active), #switch > button:active:not(.active) {
    margin-bottom: 1px;
}

#webpage-stack {
    margin: 3px;
}

.toolbar-statusbar,
.addressfield,
.searchfield,
.vivaldi-tree,
.panel#downloads .download-editor {
    margin-top: 3px;
}

.vivaldi-tree,
.panel#downloads .download-editor {
    background-color: white;
}

.addressfield,
.searchfield {
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

#titlebar #pagetitle {
    font-family: 'Tahoma';
    font-size: 8pt;
    color: white;
    text-align: unset;
    position: fixed;
    font-weight: bold;
}

.isblurred #titlebar #pagetitle {
    opacity: none !important;
}

#switch > button.bookmarks > span {
    content: url("favorites2.png");
}

#switch > button.notes > span {
    content: url("notes.png");
}

#switch > button.tabs > span {
    content: url("window.png");
}

#switch > button.preferences {
    background-image: url("settings.png");
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
}

#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.addressfield > button > div {
    /* content: url("green.png"); */
    padding: 3px;
    background-color: white;
    height: 18px;
}

#tabs-container > div.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container > div {
    background-image: url("trash.png");
    height: 100%;
    width: 20%;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position: center;
}

#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.button-toolbar.button-circularimage.button-cropimage > button
{
    background-image: url("user.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#switch > button.bookmarks > span,
#switch > button.notes > span,
#switch > button.tabs > span {
    height: 100%;
    width: 100%;
    padding: 4px;
}

#switch > button.bookmarks > span > svg > path,
#tabs-container > div.toolbar.toolbar-tabbar.toolbar-noflex.sync-and-trash-container > div > button > svg,
#switch > button.preferences > svg,
#main > div.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large > div.button-toolbar.button-circularimage > button > img {
    display: none;
}

.tabs-right#browser.win.win10 .tabs-bottom#browser.win.win10 .tabs-left#browser.win.win10, #browser.win.win10 #header #titlebar .window-buttongroup button {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    background: #D4D0C8;
}

#browser.win.win10 #titlebar #pagetitle {
    padding-left: 35px;
}